<div class="row py-5 border pogress_bar text-center box-shadow" style="margin-left: 0px;">
  <div class="col-md-2">
    <div class="pogress_common" style="width: 150px;height: 80px;" data-preset="fan" class="ldBar label-center" data-value="35" id="myItem2"></div>
    <br>
    <p>Indice de qualité CRM</p>
  </div>
  <div class="col-md-2">
    <p>< 3 ans et +</p>
    <div class="pogress_common"  id="myItem1" data-preset="rainbow"></div>
    <br>
    <p>{{year3.total}} contacts</p>
  </div>
  <div class="col-md-2">
    <p>< 2 ans</p>
    <div class="pogress_common" id="myItem3" data-preset="rainbow"></div>
    <br>
    <p>{{year2.total}} contacts</p>
  </div>
  <div class="col-md-2">
    <p>< 1 an</p>
    <div class="pogress_common" id="myItem4" data-preset="rainbow"></div>
    <br>
    <p>{{year1.total}} contacts</p>
  </div>
  <div class="col-md-2">
    <p>< 6 mois</p>
    <div class="pogress_common" id="myItem5" data-preset="rainbow"></div>
    <br>
    <p>{{month6.total}} contacts</p>
  </div>
  <div class="col-md-2">
    <p>< 3 mois</p>
    <div class="pogress_common" id="myItem6" data-preset="rainbow"></div>
    <br>
    <p>{{month3.total}} contacts</p>
  </div>
</div>

