<div class="row py-5 border pogress_bar text-center">
  <div class="col-md-2">
    <div class="pogress_common" style="width: 150px;height: 80px;" data-preset="fan" class="ldBar label-center" data-value="35" id="myItem2"></div>
    <br>
    <p>Indice de qualité CRM</p>
  </div>
  <div class="col-md-2">
    <p>< 3 ans et +</p>
    <div class="pogress_common"  id="myItem1" data-preset="rainbow"></div>
    <br>
    <p>1687 contacts</p>
  </div>
  <div class="col-md-2">
    <p>< 2 ans</p>
    <div class="pogress_common" id="myItem3" data-preset="rainbow"></div>
    <br>
    <p>968 contacts</p>
  </div>
  <div class="col-md-2">
    <p>< 1 an</p>
    <div class="pogress_common" id="myItem4" data-preset="rainbow"></div>
    <br>
    <p>368 contacts</p>
  </div>
  <div class="col-md-2">
    <p>< 6 mois</p>
    <div class="pogress_common" id="myItem5" data-preset="rainbow"></div>
    <br>
    <p>168 contacts</p>
  </div>
  <div class="col-md-2">
    <p>< 3 mois</p>
    <div class="pogress_common" id="myItem6" data-preset="rainbow"></div>
    <br>
    <p>64 contacts</p>
  </div>
</div>
