<div class="col-md-12">
  <div class="dashboard2table">
    <table id="myTable" class="display nowrap dataTable dtr-inline collapsed table table-bordered my-3 box-shadow" style="width: 100%;" role="grid" aria-describedby="example_info">
      <thead>
      <tr role="row">
        <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 130px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">Nom</th>
        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 80px;" aria-label="Position: activate to sort column ascending">Score</th>
        <th class="dt-body-right sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 80px;" aria-label="Age: activate to sort column ascending">Gagnés</th>
        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 80px;" aria-label="Start date: activate to sort column ascending">Mis à jour</th>
        <th class="sorting commerciale_score_th" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 80px;" aria-label="Start date: activate to sort column ascending">Perdus</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let user of Users; let i = index" role="row" class="odd">
        <td><img class="img-fluid tableinsideimg" src="../../assets/img/{{user.img_url}}" alt="">{{user.nom}}</td>
        <td>
          <div class="commerciale_score_td">
            {{user.contacts + user.contacts}}
          </div>
        </td>
        <td>{{user.contacts}}</td>
        <td>{{user.contacts}}</td>
        <td>0</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
