<div class="row">
  <div class="col-md-8">
    <div class="row py-2 score ">
      <div class="col-lg-3 col-md-6">
        <div class="dashboard_score_single box-shadow">
          <div class="icon_per m-2">
            <span class="icon_per_span1" ><i class="fas fa-user-friends"></i></span>
            <span class="icon_per_span2" >+12%</span>
          </div>
          <h1 class="text-center">32</h1>
          <p class="text-center" >Nouveaux contacts</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="dashboard_score_single box-shadow">
          <div class="icon_per m-2">
            <span class="icon_per_span1" ><i class="fas fa-building"></i></span>
            <span class="icon_per_span2" >+5%</span>
          </div>
          <h1 class="text-center">18</h1>
          <p class="text-center" >Nouvelles entreprises</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="dashboard_score_single box-shadow">
          <div class="icon_per m-2">
            <span class="icon_per_span1" ><i class="fas fa-envelope"></i></span>
            <span class="icon_per_span2" >+12%</span>
          </div>
          <h1 class="text-center">25</h1>
          <p class="text-center" >Nouveaux emails</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="dashboard_score_single box-shadow">
          <div class="icon_per m-2">
            <span class="icon_per_span1" ><i class="fas fa-star"></i></span>
            <span class="icon_per_span3" >-6%</span>
          </div>
          <h1 class="text-center">9</h1>
          <p class="text-center" >Opérations actives</p>
        </div>
      </div>
    </div>
    <div class="row py-3 score">
      <div class="col-lg-3 col-md-6">
        <div class="dashboard_score_single2 box-shadow">
          <div class="text-center  single2_toatl  pt-2"><span>TOTAL</span> <span class="icon_per_span4"><i class="fas fa-plus-circle"></i></span></div>
          <h1 class="text-center">4583</h1>
          <p class="text-center" >Contacts Actifs</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="dashboard_score_single2 box-shadow">
          <div class="text-center single2_toatl  pt-2"><span>TOTAL</span> <span class="icon_per_span4"><i class="fas fa-plus-circle"></i></span></div>
          <h1 class="text-center">32</h1>
          <p class="text-center" >Entreprises actives</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="dashboard_score_single2 box-shadow">
          <div class="text-center single2_toatl  pt-2"><span>TOTAL</span> </div>
          <h1 class="text-center">32</h1>
          <p class="text-center" >Emails</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="dashboard_score_single2 box-shadow">
          <div class="text-center  single2_toatl pt-2"><span>TOTAL</span> <span class="icon_per_span4"><i class="fas fa-plus-circle"></i></span></div>
          <h1 class="text-center">32</h1>
          <p class="text-center" >Opérations Réalisées</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12 box-shadow">
        <div class="dashboard_circle_chart">
          <p>Performance des opérations</p>
          <div id="chartContainer1" style="height: 342px; width: 100%;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
